{erl_opts, [
    warnings_as_errors
]}.

{project_plugins, [
    erlfmt,
    rebar3_ex_doc
]}.
{erlfmt, [write]}.

{profiles, [
    {test, [
        {erl_opts, [nowarn_export_all]},
        {deps, [
            {nct_util, {git, "https://github.com/nomasystems/nct_util.git", {branch, "main"}}},
            {triq, {git, "https://github.com/nomasystems/triq.git", {branch, "master"}}}
        ]}
    ]}
]}.

{alias, [
    {check, [
        {fmt, "--check"},
        xref,
        dialyzer
    ]},
    {test, [
        {ct, "--spec test/conf/test.spec --cover --readable true"}
    ]},
    {doc, [
        {ex_doc, "-f html"}
    ]}
]}.

{cover_opts, [verbose]}.
{cover_enabled, true}.

{xref_ignores, [
    ncalendar,
    {ncalendar_iso8601, format_timezone, 1}
]}.
